# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
.env

venv/
build/
dist/
*.egg-info/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Data and secrets
secrets/
*.crt
*.key
*.pem
*.p12
*.sqlite
sandbox/
data/
downloads/

# Notebooks
.ipynb_checkpoints/

# Cache
*.cache
.cache/
.mypy_cache/
.pytest_cache/
pytest_cache/

# Coverage
htmlcov/
.coverage
.coverage.*
.cachecov/

# Node (若用到前端工具)
node_modules/

# Docker
docker-data/

*.ps1
*.ini
credentials/
listtest.py